---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Pricing from "../components/Pricing.astro";
import Testimonials from "../components/Testimonials.astro";
import Cookiepolicy from "../components/cookiepolicy.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Cookiepolicy />
  </main>
  <Footer />
</Layout>
