---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Pricing from "../components/Pricing.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import Leadpopup from "../components/LeadPopup.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <HowItWorks />
    <Pricing />
    <Testimonials />
    <Leadpopup />
  </main>
  <Footer />
</Layout>
